@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.offcanvas-links a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.offcanvas-links a {
  color: #bbbbbb;
}

header {
  position: relative;
  height: 500px;
  width: 100%;
}

.overlay-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.uk-breadcrumb > * > * {
  color: #fff;
}

.uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
  color: #fff;
}

.m-bottom-0 {
  margin-bottom: 0;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

header .text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 70;
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

section.section-default {
  padding: 100px 50px;
}

.section-heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.submit-btn {
  position: relative;
}

.submit-btn:hover {
  background-color: #0d71d4;
  border-radius: 0;
  scale: 1.1;
}

.submit-btn::after {
  content: '';
  background: #1e87f0;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
}

.submit-btn:hover::after {
  width: 100%;
}

footer ul {
  padding-left: 0;
}

.footer-container {
  width: 100%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 100px 70px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0d71d4;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media screen and (max-width: 750px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col {
    width: 100%;
  }

  section.events .event-card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
